.tableTitle {
  FONT-WEIGHT: bold;
  FONT-SIZE: 10pt;
  COLOR: black;
  FONT-FAMILY: Arial, Helvetica, Sans-serif;
  PADDING-BOTTOM: 0px;
  MARGIN-BOTTOM: 0px;
  TEXT-ALIGN: left;
}

.tableHeading {
  FONT-WEIGHT: bold;
  FONT-SIZE: 10pt;
  BACKGROUND: black;
  COLOR: white;
  FONT-FAMILY: Arial, Helvetica, Sans-serif;
  TEXT-ALIGN: left;
}

.mainHeading {
  PADDING-RIGHT: 3px;
  PADDING-LEFT: 3px;
  FONT-SIZE: 8pt;
  BACKGROUND: black;
  PADDING-BOTTOM: 1px;
  COLOR: white;
  LINE-HEIGHT: 1.5;
  PADDING-TOP: 1px;
  FONT-FAMILY: Arial, Helvetica, Sans-serif;
  TEXT-ALIGN: left;
}

.queueHeading {
  PADDING-RIGHT: 3px;
  PADDING-LEFT: 3px;
  FONT-SIZE: 8pt;
  BACKGROUND: /*c:sabl*/ #0096d6;
  PADDING-BOTTOM: 1px;
  COLOR: black;
  LINE-HEIGHT: 1.3;
  PADDING-TOP: 1px;
  FONT-FAMILY: Arial, Helvetica, Sans-serif;
}

.activatorTable {
  BORDER-RIGHT: 0px;
  BORDER-TOP: 0px;
  BORDER-LEFT: 0px;
  WIDTH: 100%;
  BORDER-BOTTOM: 0px;
  COLOR: black;
}

.tableRow {
  FONT-SIZE: 10pt;
  FONT-FAMILY: Arial, Helvetica, Sans-serif;
  BACKGROUND-COLOR: #e5e8e8;
  COLOR: black;
  TEXT-ALIGN: left;
}

.tableOddRow {
  BACKGROUND-COLOR: #e5e8e8;
  COLOR: black;
  TEXT-ALIGN: left;
}

.tableEvenRow {
  BACKGROUND-COLOR: #b9b8bb;
  COLOR: black;
  TEXT-ALIGN: left;
}

.tableRowSelect {
  BACKGROUND-COLOR: #cccccc;
  COLOR: black;
  CURSOR: pointer;
  TEXT-ALIGN: left;
}

.tableRowGreen {
  BACKGROUND-COLOR: #008424;
  COLOR: black;
  TEXT-ALIGN: left;
}

.tableRowPurple {
  BACKGROUND-COLOR: #822980;
  COLOR: black;
  TEXT-ALIGN: left;
}

.tableRowLightBlue {
  BACKGROUND-COLOR: /*c:sabl*/ #0096d6;
  COLOR: black;
  TEXT-ALIGN: left;
}

.tableRowYellow {
  BACKGROUND-COLOR: #FFFF66;
  COLOR: black;
  TEXT-ALIGN: left;
}

.tableRowRed {
  BACKGROUND-COLOR: #FF0000;
  COLOR: black;
  TEXT-ALIGN: left;
}

.tableRowOrange {
  BACKGROUND-COLOR: #d7410b;
  COLOR: black;
  TEXT-ALIGN: left;
}

.tableCell {
  PADDING-RIGHT: 3px;
  PADDING-LEFT: 3px;
  FONT-SIZE: 8pt;
  PADDING-BOTTOM: 1px;
  COLOR: black;
  PADDING-TOP: 1px;
  FONT-FAMILY: Arial, Helvetica, Sans-serif;
  TEXT-ALIGN: left;
}

.tableCellRed {
  PADDING-RIGHT: 3px;
  PADDING-LEFT: 3px;
  FONT-SIZE: 8pt;
  PADDING-BOTTOM: 1px;
  COLOR: #FF0000;
  PADDING-TOP: 1px;
  FONT-FAMILY: Arial, Helvetica, Sans-serif;
  TEXT-ALIGN: left;
}

.tableCellGreen {
  PADDING-RIGHT: 3px;
  PADDING-LEFT: 3px;
  FONT-SIZE: 8pt;
  PADDING-BOTTOM: 1px;
  COLOR: #008424;
  PADDING-TOP: 1px;
  FONT-FAMILY: Arial, Helvetica, Sans-serif;
  TEXT-ALIGN: left;
}

.tableEvenCell {
  PADDING-RIGHT: 3px;
  PADDING-LEFT: 3px;
  FONT-SIZE: 8pt;
  PADDING-BOTTOM: 1px;
  COLOR: black;
  PADDING-TOP: 1px;
  FONT-FAMILY: Arial, Helvetica, Sans-serif;
  BACKGROUND-COLOR: #cccccc;
  TEXT-ALIGN: left;
}

.tableEvenCellRed {
  PADDING-RIGHT: 3px;
  PADDING-LEFT: 3px;
  FONT-SIZE: 8pt;
  PADDING-BOTTOM: 1px;
  COLOR: #FF0000;
  PADDING-TOP: 1px;
  FONT-FAMILY: Arial, Helvetica, Sans-serif;
  BACKGROUND-COLOR: #cccccc;
  TEXT-ALIGN: left;
}

.tableEvenCellGreen {
  PADDING-RIGHT: 3px;
  PADDING-LEFT: 3px;
  FONT-SIZE: 8pt;
  PADDING-BOTTOM: 1px;
  COLOR: #008424;
  PADDING-TOP: 1px;
  FONT-FAMILY: Arial, Helvetica, Sans-serif;
  BACKGROUND-COLOR: #cccccc;
  TEXT-ALIGN: left;
}

.tableOddCell {
  PADDING-RIGHT: 3px;
  PADDING-LEFT: 3px;
  FONT-SIZE: 8pt;
  PADDING-BOTTOM: 1px;
  COLOR: black;
  PADDING-TOP: 1px;
  FONT-FAMILY: Arial, Helvetica, Sans-serif;
  BACKGROUND-COLOR: #e5e8e8;
  TEXT-ALIGN: left;
}

.tableOddCellRed {
  PADDING-RIGHT: 3px;
  PADDING-LEFT: 3px;
  FONT-SIZE: 8pt;
  PADDING-BOTTOM: 1px;
  COLOR: #FF0000;
  PADDING-TOP: 1px;
  FONT-FAMILY: Arial, Helvetica, Sans-serif;
  BACKGROUND-COLOR: #e5e8e8;
  TEXT-ALIGN: left;
}

.tableOddCellGreen {
  PADDING-RIGHT: 3px;
  PADDING-LEFT: 3px;
  FONT-SIZE: 8pt;
  PADDING-BOTTOM: 1px;
  COLOR: #008424;
  PADDING-TOP: 1px;
  FONT-FAMILY: Arial, Helvetica, Sans-serif;
  BACKGROUND-COLOR: #e5e8e8;
  TEXT-ALIGN: left;
}

.navHeading {
  FONT-WEIGHT: bold;
  FONT-SIZE: 9pt;
  BACKGROUND: black;
  COLOR: white;
  FONT-FAMILY: Arial, Helvetica, Sans-serif
}

.navSubHeading {
  FONT-WEIGHT: bold;
  FONT-SIZE: 8pt;
  BACKGROUND: black;
  COLOR: white;
  FONT-FAMILY: Arial, Helvetica, Sans-serif
}

.navRow {
  FONT-SIZE: 8pt;
  BACKGROUND: #e5e8e8;
  COLOR: black;
  FONT-FAMILY: Arial, Helvetica, Sans-serif
}

.actRow {
  FONT-SIZE: 8pt;
  BACKGROUND: #e5e8e8;
  COLOR: black;
  FONT-FAMILY: Arial, Helvetica, Sans-serif
}

.actHeading {
  FONT-WEIGHT: bold;
  FONT-SIZE: 9pt;
  BACKGROUND: black;
  COLOR: white;
  FONT-FAMILY: Arial, Helvetica, Sans-serif
}

.actSubHeading {
  FONT-WEIGHT: bold;
  FONT-SIZE: 8pt;
  BACKGROUND: #007dba;
  COLOR: /*c:sabl*/ #0096d6;
  FONT-FAMILY: Arial, Helvetica, Sans-serif
}

A {
  COLOR: blue;
  TEXT-DECORATION: none
}

A:link {
  COLOR: black;
  TEXT-DECORATION: none
}

A:visited {
  COLOR: black;
  TEXT-DECORATION: none
}

A:active {
  COLOR: black;
  TEXT-DECORATION: none
}

H1 {
  FONT-SIZE: 16pt;
  COLOR: black;
  FONT-FAMILY: Arial, Helvetica, Sans-serif
}

H2 {
  FONT-SIZE: 12pt;
  COLOR: black;
  FONT-FAMILY: Arial, Helvetica, Sans-serif
}

H3 {
  FONT-SIZE: 10pt;
  COLOR: black;
  FONT-FAMILY: Arial, Helvetica, Sans-serif
}

.title {
  FONT-WEIGHT: bold;
  FONT-SIZE: 8pt;
  COLOR: white;
  LINE-HEIGHT: 0.9;
  FONT-FAMILY: Arial, Helvetica, Sans-serif
}

.welcome {
  FONT-SIZE: 7pt;
  COLOR: white;
  FONT-FAMILY: Arial, Helvetica, Sans-serif
}

BODY {
  FONT-SIZE: 8pt;
  FONT-FAMILY: Arial, Helvetica, Sans-serif;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
  overflow-y: auto;
}

TD.UNDO {
  FONT-SIZE: 8pt;
  COLOR: black;
  FONT-FAMILY: Arial, Helvetica, Sans-serif;
  BACKGROUND-COLOR: #ffff66;
}

TD.INTERRUPTED {
  FONT-SIZE: 8pt;
  COLOR: black;
  FONT-FAMILY: Arial, Helvetica, Sans-serif;
  BACKGROUND-COLOR: #ffff66;
}

TD.DOING {
  FONT-SIZE: 8pt;
  COLOR: black;
  FONT-FAMILY: Arial, Helvetica, Sans-serif;
  BACKGROUND-COLOR: /*c:sabl*/ #0096d6;
}

TD.DONE {
  FONT-SIZE: 8pt;
  COLOR: black;
  FONT-FAMILY: Arial, Helvetica, Sans-serif;
  BACKGROUND-COLOR: #008424;
}

TD.ACTIVE {
  FONT-SIZE: 8pt;
  COLOR: black;
  FONT-FAMILY: Arial, Helvetica, Sans-serif;
  BACKGROUND-COLOR: #e5e8e8;
}

TD.STATE {
  FONT-SIZE: 8pt;
  COLOR: black;
  FONT-FAMILY: Arial, Helvetica, Sans-serif;
  BACKGROUND-COLOR: #e5e8e8;
}

.about {
  FONT-WEIGHT: bold;
  FONT-SIZE: 8pt;
  COLOR: black;
  FONT-FAMILY: Arial, Helvetica, Sans-serif;
}