/**************************************************************************/
/*                                                                      */
/*   ©(c) Copyright 2003-2010 Hewlett-Packard Development Company, L.P.   */
/**************************************************************************/


/**************************************************/
/*    Table styles                                */
/**************************************************/
.tableHeading    { background: #336699;            
                   font-family: Verdana, Helvetica, Arial, Sans-serif;
                   font-size: 10pt;
                   font-weight: bold;
                   color: white;
                   align:left;
                   valign:top;
                 }

.mainHeading     { background: #336699;
                   font-family: Verdana, Helvetica, Arial, Sans-serif;
                   font-size: 8pt;
                   line-height: 1.5;
                   color: white;
 	               align: left;
                   valign: middle;
                   padding: 1px, 3px;
                 }

.queueHeading     { background: #3399CC;
                   font-family: Verdana, Helvetica, Arial, Sans-serif;
                   font-size: 8pt;
                   line-height: 1.3;
                   color: black;
                   align: left;
                   valign:middle;
                   padding: 1px, 3px;
                 }
.activatorTable  { border="0";
                   width="100%";
                   cellpadding="0";
                 }

.tableRow        { background-color: #E6E6E6;
                   font-family: Verdana, Helvetica, Arial, Sans-serif;
                   font-size: 10pt;
                 }

.tableOddRow     { background-color: #E6E6E6;
		   cursor:  pointer;
		   cursor:  hand;
                 }
.tableEvenRow    { background-color: #CCCCCC; 
		   cursor:  pointer;
		   cursor:  hand;
                 }
.tableRowSelect  { background-color: #8cbdde;
		   cursor:  pointer;
		   cursor:  hand;
                   width="100%";
		 }
.tableCell       { font-family: Verdana, Helvetica, Arial, Sans-serif;
                   font-size: 8pt;
                   color: black; 
                   padding: 1px, 3px;
		   cursor:  pointer;
		   cursor:  hand;
                 }
.tableCell0     { background-color: #E6E6E6;
                    font-family: Verdana, Helvetica, Arial, Sans-serif;
                    font-size: 8pt;
                    color: black; 
                    padding: 1px, 3px;
		            cursor:  pointer;
		            cursor:  hand;
                 }
.tableCell1    { background-color: #CCCCCC; 
                    font-family: Verdana, Helvetica, Arial, Sans-serif;
                    font-size: 8pt;
                    color: black; 
                    padding: 1px, 3px;
					cursor:  pointer;
					cursor:  hand;
                  }
/**************************************************/
/*    Main navigation bar styles                  */
/**************************************************/
.navHeading     {  background: #336699;            
                   font-family: Verdana, Helvetica, Arial, Sans-serif;
                   font-size: 9pt;
                   font-weight: bold;
                   color: white;
 	           align: left;
                }

.navSubHeading  {  background: #336699;            
                   font-family: Verdana, Helvetica, Arial, Sans-serif;
                   font-weight: bold;
                   font-size: 8pt;
                   color: white;
 	           align: left;
                }

.navRow         { background: #E6E6E6;
                  font-family: Verdana, Helvetica, Arial, Sans-serif;
                  font-size: 8pt;
                  color: black;
                  align: left;
                }


/**************************************************/
/*    Navigation bar action menu styles           */
/**************************************************/
.actRow        { background: #E6E6E6;
                  font-family: Verdana, Helvetica, Arial, Sans-serif;
                  font-size: 8pt;
                  color: black;
                  align: left;
                }

.actHeading     {  background: #336699;            
                   font-family: Verdana, Helvetica, Arial, Sans-serif;
                   font-size: 9pt;
                   font-weight: bold;
                   color: white;
 	           align: left;
                }

.actSubHeading  {  background: #BDCECE;            
                   font-family: Verdana, Helvetica, Arial, Sans-serif;
                   font-size: 8pt;
                   font-weight: bold;
                   color: black;
 	           align: left;
                }

/**************************************************/
/*    Link Styles                                 */
/**************************************************/
A     {
        text-decoration: none;
        color: blue;
      }

A:link{
        TEXT-DECORATION: none;
        color: black;
      }

A:visited {
        TEXT-DECORATION: none;
        color: black;
      }

A:active {
        TEXT-DECORATION: none;
        color: black;
      }


/**************************************************/
/*    Header styles                               */
/**************************************************/

h1 {    font-family: Verdana, Helvetica, Arial, Sans-serif;
	font-size: 16pt;
	color: #08396B;
   }

h2 {
        font-family: Verdana, Helvetica, Arial, Sans-serif;
	font-size: 12pt;
	color: #08396B;
}

h3 {
        font-family: Verdana, Helvetica, Arial, Sans-serif;
	font-size: 10pt;
	color: #08396B;
}

.title {
        font-family: Verdana, Helvetica, Arial, Sans-serif;
        font-weight: bold;
        font-size: 8pt;
        color: white;
        line-height: .9;
   }

.welcome {    
        font-family: Verdana, Helvetica, Arial, Sans-serif;
        font-size: 7pt;
        color: white;
        valign:top;
   }

body {
        font-family: Verdana, Helvetica, Arial, Sans-serif;
	font-size: 8pt
}


/**************************************************/
/*    Track page styles                           */
/**************************************************/
td.UNDO { 
        font-family: Verdana, Helvetica, Arial, Sans-serif;
	font-size: 8pt;
	color: black; 
	background-color: #FFEBB5;
 	align: left;
}

td.INTERRUPTED { 
        font-family: Verdana, Helvetica, Arial, Sans-serif;
	font-size: 8pt;
	color: black; 
	background-color: #FFEBB5;
 	align: left;
}

td.DOING{
        font-family: Verdana, Helvetica, Arial, Sans-serif;
	font-size: 8pt;
	color: black; 
	background-color: #D5E5F3;
 	align: left;
}

td.DONE {
        font-family: Verdana, Helvetica, Arial, Sans-serif;
	font-size: 8pt;
	color: black; 
	background-color: #99CCCC;
 	align: left;
}

td.ACTIVE{
        font-family: Verdana, Helvetica, Arial, Sans-serif;
	font-size: 8pt;
	color: black; 
	background-color: #E7E7E7;
 	align: left;
}

td.STATE{
        font-family: Verdana, Helvetica, Arial, Sans-serif;
	font-size: 8pt;
	color: black; 
	background-color: #E7E7E7;
 	align: left;
}


/**************************************************/
/*    About styles                                */
/**************************************************/
.about  { font-family: Verdana, Helvetica, Arial, Sans-serif;
	  font-size: 8pt;
          font-weight: bold;
          align: center;
	  color: #336699; 
        }
